#battle {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadein 750ms linear forwards;

  p {
    margin: 1rem;
    font-size: 1.75rem;
    font-family: "BarlowSemiCondensed Medium";
    color: rgb(217, 211, 211);
  }

  #left,
  #right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 4rem;
    text-align: center;
    padding: 1rem;
  }

  #middle {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;

    p {
      width: 8rem;
      display: flex;
      justify-content: center;
      text-align: center;
    }

    button {
      border: none;
      height: 1.75rem;
      width: 8rem;
      border-radius: 0.3rem;
      font-family: "BarlowSemiCondensed Regular";
      font-size: 0.75rem;
    }
  }

  @media (max-width: 430px) {

    width: 10%;
    height: 30%;

    #left,
    #right {
      flex-direction: column-reverse;

      p {
        margin: 0;
        padding: 0;
        transform: translateY(-4rem);
        font-size: 1.2rem;
        width: 10rem;
      }
    }

    #left {
      margin-left: 10rem;
    }

    #right {
      margin-right: 10rem;
    }
  }
}

#middle {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  font-family: "BarlowSemiCondensed Bold";

  p {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin: 0;
  }

  button {
    border: none;
    height: 3rem;
    width: 8rem;
    border-radius: 0.3rem;
    font-family: "BarlowSemiCondensed Regular";
    font-size: 0.75rem;
  }
}