#choose {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: fadein 750ms linear forwards;

  #upper {
    display: flex;
    justify-content: center;
    align-items: center;

    #horizontal-line {
      height: 1rem;
      width: 8%;
      background-color: rgb(23, 35, 61);
    }
  }

  #lower {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

    #oblic-line-1,
    #oblic-line-2 {
      height: 1rem;
      width: 15%;
      background-color: rgb(23, 35, 61);
    }

    #oblic-line-1 {
      transform: translate(8rem, -2rem) rotate(55deg);

      @media (max-width: 710px) {
        transform: translate(6rem, -2rem) rotate(55deg);
      }
    }

    #oblic-line-2 {
      transform: translate(-8rem, -2rem) rotate(-55deg);
      z-index: 1;

      @media (max-width: 710px) {
        transform: translate(-6rem, -2rem) rotate(-55deg);
      }
    }
  }

  @media (max-width: 430px) {
    .item {
      scale: 0.75;
    }

    #upper {
      #horizontal-line {
        position: absolute;
        width: 50%;
      }
    }

    #lower {

      margin: 0;

      #oblic-line-1 {
        width: 50%;
        transform: translate(5rem, -2rem) rotate(55deg);
      }

      #oblic-line-2 {
        width: 50%;
        transform: translate(-5rem, -2rem) rotate(-55deg);
      }

      #rock {
        transform: translateY(-1.75rem);
        z-index: 2;
      }
    }
  }
}