#rules {
  position: absolute;
  top: 50%;
  width: 400px;
  height: 420px;
  background-color: white;
  transform: translateY(-45%);
  border-radius: 0.5rem;
  z-index: 6;
  display: none;
  animation: fadein 250ms linear forwards;

  #heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    color: rgb(23, 35, 61);
    font-family: "BarlowSemiCondensed Bold";
    font-size: 2rem;

    img {
      width: 1.5rem;
      height: 1.5rem;
      transition: all 500ms;

      &:hover {
        transform: scale(1.3);
      }
    }
  }

  #rules-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 430px) {
    height: 100svh;
    width: 100svw;
    border-radius: 0;
    transform: none;
    top: 0;
    left: 0;

    #heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        position: absolute;
        bottom: 2rem;
      }
    }

    #rules-image {
      height: 75%;
    }
  }
}